* {
  scroll-behavior: smooth;
}

footer .h2 {
  color:white;
}


button:focus {
  outline-color:rgb(15, 1, 94);
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 2px;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.btn {
  border-radius: 0px;
}

.btn-outline-primary {
  color:white;
  border-color: white;
}

.btn-outline-primary:hover {
  color:white;
  border-color: white;
  background-color:  rgb(15, 1, 94);
}

.fa-arrow-alt-circle-up {
  font-size: 35px;
  color:#fff;
}

a {
  color: #fff;
}

a:hover {
  color:  grey;
}


.card-img-top {
  border-radius: 0px;
}

.card {
  border-radius: 0px;
}

.profile {
  border-radius: 50%;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  color: #fff;
  border-radius: 0;
  background-color: #fff;
  background-image: radial-gradient(at 50% 100%, rgba(123, 22, 255, 0.75), rgb(15, 1, 94));
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: radial-gradient(at 50% 100%, rgba(123, 22, 255, 0.75), rgb(15, 1, 94));
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    /* text-align: center; */
  }


}


@media screen and (max-width: 766px) {
  .jumbotron {
    text-align: center;
  }


  .img-thumbnail {
    max-width: 65% !important;
    margin-top: 20px;
  }

  h1 {
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
  }

}